html {

}

body {

}

.nav-logo {

}

.gallery-image {
	height: 300px;
	width: 200px;
}


.projects-section {
	background-color: #05453B;
	padding-top: 160px;
}

.title {
	color: white;
}

.info-title {
	color: white;
}
