html {

}

body {

}

.nav-logo {

}

.gallery-image:hover {
	cursor: pointer;
	box-shadow: 0 0 10px #ccc;
}


.projects-section {
	background-color: #05453B;
	padding-top: 160px;
}

.title {
	color: white;
}

.info-title {
	color: white;
}
